/* loading page */
.loading-inner span {
    letter-spacing: 10px;
}


#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 300%;
    object-fit: cover;
    z-index: -1; /* Ensure the video is behind all other content */
}



/* Ensure the content is displayed correctly on top of the video */
.page-content {
    position: relative;
    z-index: 1; /* Ensures the content is above the video */
}

.section-wrapper2 {
    padding: 88px;
    color: white; /* Adjust text color for better readability over the video */
}

.text-center {
    position: relative;
    z-index: 2; /* Ensure text is above all other content */
    color: white; /* Make text white */
}

.text-center {
    position: relative;
    z-index: 2; /* Ensure text is above all other content */
}

.text-center h3.title {
    color: white; /* Make text white */
    font-size: 3em; /* Make text bigger */
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #000, 0 0 25px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.4); /* Create 3D effect with shadows */
    padding: 20px;
    margin: 20px 0;
    background: rgba(0, 0, 0, 0.3); /* Optional: Add a semi-transparent background for better readability */
    border-radius: 10px; /* Optional: Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add some shadow for a more pronounced 3D effect */
}



/*  price tables  */

/* General Styles for Pricing Tables */
.pricingtable-wrapper {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    position: relative;
}

.pricingtable-wrapper:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.pricingtable-inner {
    padding: 20px;
    text-align: center;
    border-radius: 15px; /* Ensures inner radius matches the wrapper */
    overflow: hidden; /* Ensures no overflow on hover */
}


/*design*/
/* Style buttons */
.btn1 {
    background-color:#b615ae;  
    border: none; 
    color: white; 
    padding: 12px 16px; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 8px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease; 
  }
  
  /* Effet de survol */
  .btn1:hover {
    background-color:#a30b9e; 
  }
  .fa-home {
    font-size: 24px; 
  }