<aside class="page-sidebar" style="background-color: #56A29D;">
  <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>

  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100" id="menu">
      <li>
        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white">
          <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
        </a>
        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
          <li class="w-100">
            <a href="#" class="nav-link px-0 text-white">



 <a class="navbar-brand" href="javascript:void(0)">BSN</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


      
              <i class="bi-person"></i> <span class="d-none d-sm-inline"> Administrateur </span>
            </a>
          </li>
                    <!-- Lien Home en bas -->
      <li class="mt-auto w-100">
        <a href="/Home" class="nav-link px-0 text-white">
          <i class="fs-4 bi-house-door"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
        </a>
      </li>
      

     
          <li>
            <a href="/listentraineur" class="nav-link px-0 text-white">
              <i class="bi-person-lines-fill"></i> <span class="d-none d-sm-inline"> Entraîneur </span>
            </a>
          </li>
        </ul>
      </li>
 <li>
        <a href="/listadmin" class="nav-link px-0 align-middle text-white">
          <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Administrateur</span>
        </a>
      </li>
      <li>
        <a href="/listclient" class="nav-link px-0 align-middle text-white">
          <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Client</span>
        </a>
      </li>

      <li>
        <a href="/reservation" class="nav-link px-0 align-middle text-white">
          <i class="fs-4 bi-calendar-check"></i> <span class="ms-1 d-none d-sm-inline">Réservation</span>
        </a>
      </li>

      <li class="w-100">
        <a href="/listcontact" class="nav-link px-0 text-white">
          <i class="fs-4 bi-telephone"></i> <span class="d-none d-sm-inline">Contact</span>
        </a>
      </li>

      <li class="w-100">
        <a href="/listabonnement" class="nav-link px-0 text-white">
          <i class="fs-4 bi-card-checklist"></i> <span class="d-none d-sm-inline">Abonnement</span>
        </a>
      </li>

      <li class="w-100">
        <a href="/listsalle" class="nav-link px-0 text-white">
          <i class="fs-4 bi-building"></i> <span class="d-none d-sm-inline">Salle De Sport</span>
        </a>
      </li>

      <li class="w-100">
        <a href="/listpack" class="nav-link px-0 text-white">
          <i class="fs-4 bi-person-lines-fill"></i> <span class="d-none d-sm-inline">liste pack</span>
        </a>
      </li>

      <li class="w-100">
        <a (click)="logout()" class="nav-link px-0 text-white">
          <i class="fs-4 bi-box-arrow-right"></i> <span class="d-none d-sm-inline">Déconnexion</span>
        </a>
      </li>

    
    </ul>
  </div>
</aside>
