/* loading page */
.loading-inner span {
    letter-spacing: 10px;
}



.client-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.avatar-container {
    margin-bottom: 20px;
}

.client-details {
    width: 100%;
    max-width: 400px;
}
.session-info {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 20px;
    width: 300px;
  }
  
  .session-info h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .session-info p {
    margin: 5px 0;
  }
  
  .session-info .fa {
    margin-right: 5px;
  }
  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* Style spécifique pour le bouton de vidéo */
  .video-button {
    background-color: #3498db;
    color: white;
  }
  
  /* Style spécifique pour le bouton de messagerie */
  .messaging-button {
    background-color: #2ecc71;
    color: white;
  }
  
  /* Style pour l'icône à l'intérieur du bouton */
  .button i {
    margin-right: 5px;
  }
  .button-container {
    
    justify-content: center;
    align-items: center;
}

.button {
    margin: 0 5px; /* Optional: adds some space between the buttons */
}