<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Register Salle</h2>
              <p class="text-white-50 mb-5">Please enter your details to create an account!</p>

              <form [formGroup]="salleForm" (ngSubmit)="addNewSalle()">
                <div class="form-outline form-white mb-4">
                  
                  <label class="form-label" for="typeNom">Nom</label>
                  <input type="text" id="typeNom" class="form-control form-control-lg" formControlName="nom" />
                  <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="text-danger">
                    <div *ngIf="nom.errors?.['required']">Nom is required.</div>
                    <div *ngIf="nom.errors?.['minlength']">Nom must be at least 4 characters long.</div>
                  </div>
                </div>

                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typeAdress">Adress</label>
                  <input type="text" id="typeAdress" class="form-control form-control-lg" formControlName="adress" />
                  
                  <div *ngIf="adress.invalid && (adress.dirty || adress.touched)" class="text-danger">
                    <div *ngIf="adress.errors?.['required']">Adress is required.</div>
                  </div>
                </div>

                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typeEmail">Email</label>
                  <input type="email" id="typeEmail" class="form-control form-control-lg" formControlName="email" />
                 
                  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                    <div *ngIf="email.errors?.['required']">Email is required.</div>
                    <div *ngIf="email.errors?.['email']">Email must be a valid email address.</div>
                  </div>
                </div>

                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typeMp">Mot de passe</label>
                  <input type="password" id="typeMp" class="form-control form-control-lg" formControlName="mp" />
                 
                  <div *ngIf="mp.invalid && (mp.dirty || mp.touched)" class="text-danger">
                    <div *ngIf="mp.errors?.['required']">Mot de passe is required.</div>
                  </div>
                </div>

                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typeTelephone">Telephone</label>
                  <input type="tel" id="typeTelephone" class="form-control form-control-lg" formControlName="telephone" />
               
                  <div *ngIf="telephone.invalid && (telephone.dirty || telephone.touched)" class="text-danger">
                    <div *ngIf="telephone.errors?.['required']">Telephone is required.</div>
                    <div *ngIf="telephone.errors?.['pattern']">Telephone must be a valid number.</div>
                  </div>
                </div>

                <button class="btn btn-outline-light btn-lg px-5" type="submit" [disabled]="salleForm.invalid">Sign Up</button>
              </form>

              <div class="d-flex justify-content-center text-center mt-4 pt-1">
                <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                <a href="#!" class="text-white mx-4"><i class="fab fa-twitter fa-lg"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
              </div>

            </div>

            <div>
              <p class="mb-0">Already have an account? <a href="#!" class="text-white-50 fw-bold">Login</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>